#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }


  
  
  
  .Title{
      text-align: center;
      padding-top: 140px;
      line-height: 75px;
      padding-bottom: 50px;
  }
  
  h1 {
      font-family: Satisfy;
      color: orangered; 
      font-size: 150px;
      margin: 0px;
      padding-bottom: 10px;
      font-weight: bold;
  }
  p {
      font-family: Satisfy;
      color: rgb(255, 157, 0);
      font-size: 45px;
      margin: 0px;
      margin-bottom: 5px;
      padding-top: 15px;
      font-weight: 300;
  }
  
  .Join-Game-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
    left: 0;
    width: 50%;
  }
  
  .buttons {
      margin: 0 100px;
      text-align: center;
      
  }
  button {
    border-radius: 30px;
    padding: 20px 50px;
    border: #FFDD9E;
    background: #FFDD9E;
    font-size: 20px;
    font-family: Raleway;
    margin: 30px;
    transition-duration: 0.2s;
    display: inline-block;
    position: relative;
  }
  
  button:focus {
    outline: none;
  }
  
  button:hover  {
    transform: scale(1.25);
  }
  
  .Join-Game-container {
    display: none;
  }
  
  .Join-Game-container.clicked { 
    display: block 
  }